/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 de ago de 2019, 20:24:04
    Author     : juan
*/

.ui-widget {  
    font-size: 12px !important;  
} 
 
html,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    margin: 0;
    height: 100%;  
}

#wrapper {
   height: 100vh;
   display: grid;
   grid-template-rows: 30px 1fr 30px;
}

#content {
   overflow-y: scroll;
}

#header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 15px;
}

#footer {
    text-align: center;
    background-color: #333;
    color: #fff;
}

#form-login {
    left:50%;
    top:50%;
    margin-left:-200px; /* Metade do valor da Largura */
    margin-top:-100px; /* Metade da valor da Altura */
    position:absolute;
    width:400px; /* Valor da Largura */
    height: 200px; /* Valor da Altura */
}

